### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [46]:
# Dependencies 
import pandas as pd
import numpy as np

# File to Load 
file_to_load = "purchase_data.csv"

# Read Purchasing File e
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [47]:
# Use the length of list of screen names "SN".
total_number_of_players = len(purchase_data["SN"].value_counts())

# Create a data frame with total players and with player count
total_player_count = pd.DataFrame({"Total Players":[total_number_of_players]})
total_player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [48]:
# Calculations 
number_of_unique_items = len((purchase_data["Item ID"]).unique())
average_price_per_item = (purchase_data["Price"]).mean()
total_number_of_purchases = (purchase_data["Purchase ID"]).count()
total_revenue = (purchase_data["Price"]).sum()

# data frame with obtained values
total_summary_df = pd.DataFrame({"Number of Unique Items":[number_of_unique_items],
                           "Average Price":[average_price_per_item], 
                           "Number of Purchases": [total_number_of_purchases], 
                           "Total Revenue": [total_revenue]})

# Format
total_summary_df.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [66]:
#purchase_data by Gender
gender_statistics = purchase_data.groupby("Gender")

# Count total of screen names by gender
total_gender_count = gender_statistics.nunique()["SN"]

# Total count by gender
percent_of_players = total_count_gender / total_number_of_players * 100

# Create data frame
gender_breakdown = pd.DataFrame({"Percentage of Players": percent_of_players, "Total Count": total_count_gender})

# Format the data frame
gender_breakdown.index.name = None

# Format the values sorted by total count 
gender_breakdown.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [50]:
# Count total purchases by gender 
purchase_count = gender_statistics["Purchase ID"].count()

# Average purchase price by gender
average_purchase_price = gender_statistics["Price"].mean()

# Average purchase price total by gender 
average_purchase_total = gender_statistics["Price"].sum()

# Average purchase per person
average_purchase_per_person = average_purchase_total/total_gender_count

# Create data frame 
gender_demographic_make_up = pd.DataFrame({"Purchase Count": purchase_count, 
                                    "Average Purchase Price": average_purchase_price,
                                    "Average Purchase Value":average_purchase_total,
                                    "Avg Purchase Total per Person": average_purchase_per_person})

# Provide index 
gender_demographic_make_up.index.name = "Gender"

# Format 
gender_demographic_make_up.style.format({"Average Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Avg Purchase Total per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [51]:

# Establish age bins
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
ranges = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Segment and sort age values 
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins, labels=ranges)
purchase_data

# Create new data frame
age_range = purchase_data.groupby("Age Group")

# total players by age
total_age_count = age_range["SN"].nunique()

# Calculate percentages by age 
percent_by_age = (total_age_count/total_number_of_players) * 100

# Create data frame 
age_demographics = pd.DataFrame({"Percentage of Players": percent_by_age, "Total Count": total_age_count})

# Format the data frame 
age_demographics.index.name = None

# Format percentage  
age_demographics.style.format({"Percentage of Players":"{:,.2f}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [52]:
# purchases by age group count
purchasing_age = age_range["Purchase ID"].count()

# Obtain average purchase price as a function of age
avg_purchase_price_age = age_range["Price"].mean()

# Calculate total purchase value as a function of age
total_value_of_purchase = age_range["Price"].sum()

# Calculate average purchase per person by age
average_purchase_per_person_age = total_purchase_value/total_count_age

# Create data frame
age_demographics = pd.DataFrame({"Purchase Count": purchasing_age,
                                 "Average Purchase Price": avg_purchase_price_age,
                                 "Total Purchase Value":total_value_of_purchase,
                                 "Average Purchase Total per Person": average_purchase_per_person_age})

# Format data frame
age_demographics.index.name = None

# Format 
age_demographics.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [53]:
# Group purchase by screen names
spender_statistics = purchase_data.groupby("SN")

# Count the total purchases as a function of name
total_purchasing_spender_count = spender_statistics["Purchase ID"].count()

# average purchase by name 
averageg_purchasing_price_spender = spender_statistics["Price"].mean()

# Calculate total of purchases 
total_purchasing_spender = spender_statistics["Price"].sum()

# Create data frame 
biggest_spenders = pd.DataFrame({"Purchase Count": total_purchasing_spender_count,
                             "Average Purchase Price": averageg_purchasing_price_spender,
                             "Total Purchase Value":total_purchasing_spender})

# Sort in descending order; use head for top 5
spenders_formatted = biggest_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

# Format
spenders_formatted.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [54]:
# Create new data frame 
all_items = purchase_data[["Item ID", "Item Name", "Price"]]

# Group by item id and item name 
item_statistics = all_items.groupby(["Item ID","Item Name"])

# number of times an item has been purchased
purchasing_count_item = item_statistics["Price"].count()

# price per item
purchasing_value = (item_stats["Price"].sum()) 

# individual item price
price_of_item = purchasing_value/purchasing_count_item

# Create data frame
most_obtained_items = pd.DataFrame({"Purchase Count": purchasing_count_item, 
                                   "Item Price": price_of_item,
                                   "Total Purchase Value":purchasing_value})

# Sort in descending order
popular_formatted = most_obtained_items.sort_values(["Purchase Count"], ascending=False).head()

# Format 
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [55]:

# most_popular items 
popular_formatted = most_obtained_items.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()
# Format 
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})